<h2>Historická Mapka Malenovic</h2>
<ul>
  <li>pro přidání bodů deaktivuj - skryj historickou mapu</li>
  <li>klikni a přidej místo, popis, název fotky</li>
  <li>klikni na tlačítko "Vypsat do konzole", otevři konzoli /F12/, zkopíruj poslední objekt ("Copy object")</li>
  <li>pozor, nerefreshuj stránku, jinak se data smažou!</li>
</ul>

<div style="margin: 8px">
  <button (click)="oldMapShowToggle()">zobrazit/skrýt mapu</button>
  <button (click)="setOpacity(0.1)">průhlednost 10%</button>
  <button (click)="setOpacity(0.4)">průhlednost 40%</button>
  <button (click)="setOpacity(1)">viditelné 100%</button>
<!--  <button (click)="markersToggle()">zobrazit/skrýt lokality</button>-->

</div>

<agm-map
  [latitude]="defaultMapPosition.lat"
  [longitude]="defaultMapPosition.lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapReady)="mapReadyHandler($event)">

  <agm-overlay
    *ngIf="showOldMap"
    [latitude]  = "oldMapPosition.lat"
    [longitude] = "oldMapPosition.lng"
    [bounds] = "oldMapPosition.bounds"
    (click)="$event.stopPropagation()"
  >
    <img (click)="$event.stopPropagation()" style="width:1px;height:1px;" src="assets/old-map-md.jpg" alt="mapa" [ngStyle]="{'opacity': opacity}">
  </agm-overlay>

  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [markerDraggable]="false">

    <agm-info-window>
      <strong>{{m.data.name}}</strong>
      <button style="margin-left: 8px" (click)="deleteMark(m.id)">
        smazat
      </button>
    </agm-info-window>

  </agm-marker>

</agm-map>

<div>
  <h2>soupis lokalit</h2>
  <ul>
    <li *ngFor="let mark of markers">
      {{ mark.data.name }} - {{ mark.data.description }}   | {{ mark.data.file }}.jpg</li>
  </ul>
  <button style="margin-left: 8px" (click)="output()">vypsat do konzole</button>
</div>
