<h1>Historická Mapka Malenovic</h1>

<div style="margin: 8px">
  <button (click)="oldMapShowToggle()">zobrazit/skrýt mapu</button>
  <button (click)="setOpacity(0.1)">0.1</button>
  <button (click)="setOpacity(0.4)">0.4</button>
  <button (click)="setOpacity(1)">1.</button>
</div>

<agm-map
  [latitude]="defaultMapPosition.lat"
  [longitude]="defaultMapPosition.lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapReady)="mapReadyHandler($event)">

  <agm-overlay
    *ngIf="showOldMap"
    [latitude]  = "oldMapPosition.lat"
    [longitude] = "oldMapPosition.lng"
    [bounds] = "{x:{latitude:0,longitude:0},y:{latitude:0.0106,longitude:0.013}}"
  >
    <img style="width:15px;height:15px;" src="assets/old-map-sm.jpg" alt="mapa" [ngStyle]="{'opacity': opacity}">
  </agm-overlay>

  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable">

    <agm-info-window>
      <strong>Vytvořit místo  </strong>
      <button>
        +
      </button>
    </agm-info-window>

  </agm-marker>

</agm-map>
