<h2>Historická Mapka Malenovic</h2>

<div style="margin: 8px">
  <button (click)="oldMapShowToggle()">zobrazit/skrýt mapu</button>
  <button (click)="setOpacity(0.1)">0.1</button>
  <button (click)="setOpacity(0.4)">0.4</button>
  <button (click)="setOpacity(1)">1.</button>

<!--  <button style="margin-left: 12px" (click)="setBoundLat(0.0002)">+Lat</button>-->
<!--  <button (click)="setBoundLat(-0.0002)">-Lat</button>-->

</div>

<agm-map
  [latitude]="defaultMapPosition.lat"
  [longitude]="defaultMapPosition.lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapReady)="mapReadyHandler($event)">

  <agm-overlay
    *ngIf="showOldMap"
    [latitude]  = "oldMapPosition.lat"
    [longitude] = "oldMapPosition.lng"
    [bounds] = "oldMapPosition.bounds"
  >
    <img style="width:1px;height:1px;" src="assets/old-map-md.jpg" alt="mapa" [ngStyle]="{'opacity': opacity}">
  </agm-overlay>

  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable">

    <agm-info-window>
      <strong>Vytvořit místo  </strong>
      <button>
        +
      </button>
    </agm-info-window>

  </agm-marker>

</agm-map>
