agm-map {
  height: 800px;
}

h2 {
  font-family: -webkit-pictograph, sans-serif !important;
  color: dimgray;
  margin: 10px;
}

button {
  font-family: monospace;
  font-size: 12px;
  margin-right: 4px;
  margin-left: 0;
}
